# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Azure Functions local secrets
local.settings.json
